<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" href="/img/star_favicon.png">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>About {{name}}</p>
        <img class="portrait" src="./img/3229528.jpeg">
    </div>

    {{>footer}}
</body>

</html>